.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.reactFlowsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc(100vw - 20px);
}


.alphabet {
  display: block;
font-weight: bold;
}
.context-menu {
  background: white;
  border-style: solid;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
}


.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.context-menu button:hover {
  background: white;
}

.react-flow__basenode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1;
}

.react-flow__node {
  height:50px;
  width: 50px;
  font-size: 8px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}

.react-flow{
  height: 60%  !important;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.node {
  height: 50px;
  width: 50px;
  border-radius: 10%;

}
.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

.toptext {
  font-size: 32px;
  font-family: "Apple Braille", serif;
  text-align: center;
}


.Kontrollcontainer{
  border: 1px solid lightgray;
  width: 30vh;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Kontrollcontainer label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Kontrollcontainer input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bold;
}
.Kontrollcontainer .aktuelleKonfiguration {
  font-weight: bold;
  margin-top: 10px;

}
.howToButton {
  width: 80%;
}
.howToButton:hover, .howToButton:focus {
  background-color: #3e8e41;
}

.Kontrollcontainer .alphabet {
  font-family: monospace;
  margin-top: 10px;

}
.Kontrollcontainer .zustände {
  font-family: monospace;
  margin-top: 5px;
  font-weight: bold;
}

.Kontrollcontainer button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* leichet Abstand zum vorherigen Element */
}

.partitiondiv button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.Kontrollcontainer .DFAAnzeige {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
  border: none;
}
.Kontrollcontainer .IfMinimizedDFA {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
  border: none;
}

.Kontrollcontainer .DFAAnzeige.true {
  background-color: #28a745;
  color: black;
}

.Kontrollcontainer .DFAAnzeige.false {
  background-color: #dc3545;
  color: black;
}

.Kontrollcontainer .IfMinimizedDFA.false{
  background-color: #dc3545;
  color: black;
}

.Kontrollcontainer .IfMinimizedDFA.true {
  background-color: #28a745;
  color: black;
}

.howToContainer {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 600px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  display: none;
}

.howToContainer.active {
  display: block;
}

.DFAContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*
Stile der Anzeige im true und false Fall
 */

.DFAAnzeige.true {
  color: #28a745;
}

.IfMinimizedDFA.false {
  color: red;
}
.IfMinimizedDFA.true {
  color: #28a745;
}

.DFAAnzeige.false {
  color: red;
}

/*
Anzeige der bisherigen Partitionen scrollbar
 */

.partition-history {
  list-style-type: n´;
  margin-top: 0;
  padding-top: 10px;
  overflow-y: scroll;
  max-height: 340px;

  margin-left: 5px;
}

.history-entry + .history-entry {
  margin-top: 5px; /* Reduziertden Abstand zwischen den Einträgen */
}

/* NodeLabelList *//* NodeLabelList.css */
.nodeList {

  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 200px;
  width: 95%;
}

.nodeItem {
  font-weight: bold;
  margin-bottom: 10px; /* Reduzierter Abstand */
  padding: 5px; /* Reduzierter Padding */
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 14px; /* Kleinere Schriftgröße */
  margin-left: auto;
  margin-right: auto;

}

.edgeList {
  list-style-type: none;
  padding-left: 20px; /* Geringerer Einzug */
  margin-top: 5px; /* Reduzierter Abstand */
}

.edgeItem {
  background-color: #e0e0e0;
  margin-bottom: 3px; /* Reduzierter Abstand */
  padding-left: 10px; /* Reduzierter Padding */
  border-radius: 3px;
  margin-left: 20px;
  font-size: 12px; /* Kleinere Schriftgröße */
  width: 50%;
}

.header {
  font-size: 18px;
  margin-bottom: 5px;
}

.subHeader {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.partition-history {
  display: flex;
  flex-direction: column;
}

.history-entry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.history-entry.hover .step-number {
  font-weight: bold;
}

.partition-row {
  display: flex;
}

.partition {
  padding: 0 10px;
  border-right: 1px solid black;
}

.partition:last-child {
  border-right: none;
}

.symbol {
  padding-left: 10px;
  white-space: nowrap;
}

.step-number {
  padding-right: 10px;
}


.examplebuttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.SidebarDescription{
  font-weight: bold;
}



.partition-history .partitionHistoryColumn {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}


.implyTrashStates{
  display: flex;
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
}

.implyTrashStates .checkbox{
  display: flex;
  align-items: center;

}


.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 10px;

}

.dropbtn {
  background-color: lightgreen;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border-style: solid;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0.5em;
}

.dropdown-content button:hover {
  background: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 14px;

}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  width: 80px;
  padding: 4px;
  border: 1px solid green;
  border-radius: 2px;

  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode .input{
  border-color: blue;
}

.dndflow .dndnode .output {
  border-color: #ff0072;
}


.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

/*Für die Anzeige bei Endgeräte mit kleiner Auflösung*/

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}


